{% import '_macros/helpers' as helpers %}

{#---------- Parameters ----------#}
{% set theme = helpers.getOption(theme ?? null, ["light", "dark"]) %}
{% set showLogo = showLogo ?? true %}
{% set logoUrl = logoUrl ?? null %}
{% set label = label ?? null %}
{% set heading = heading ?? null %}
{% set copy = copy ?? null %}
{% set form = form ?? null %}
{% set carousel = carousel ?? null %}

{#---------- Data Handling ----------#}

{#---------- Classes ----------#}
{% set baseClass = "mol-SplashPageStyleOne" %}
{% set variants = variants ?? [] %}
{% set classes = helpers.generateClasses(baseClass, variants, [theme, showLogo ? 'logo' : 'noLogo'], []) %}

{#---------- Output ----------#}
<div class="{{ classes }}">

	<div class="{{ baseClass }}__wrapper">

		<div class="{{ baseClass }}__left">

			{% if showLogo %}
				<div class="{{ baseClass }}__logo">
					<div class="{{ baseClass }}__logo__image">
						{% include "_components/atoms/Media/ResponsiveImage/ResponsiveImage" with {
							url: logoUrl,
							alt: currentSite.name,
						} only %}
					</div>
				</div>
			{% endif %}
			
			<div class="{{ baseClass }}__content">

				{% if label|length %}
					<h5 class="{{ baseClass }}__label">
						{{ label }}
					</h5>
				{% endif %}

				<h1 class="{{ baseClass }}__heading">
					{{ heading }}
				</h1>

				{% if copy|length %}
					<div class="{{ baseClass }}__copy">
						{{ copy|raw }}
					</div>
				{% endif %}

				{% if form|length %}
					<div class="{{ baseClass }}__form">
						{{ form }}
					</div>
				{% endif %}
				
			</div>

		</div>

		<div class="{{ baseClass }}__right">

			<div class="{{ baseClass }}__carousel">
				{{ carousel }}
			</div>

		</div>

	</div>

</div>
