{% import '_macros/helpers' as helpers %}

{#---------- Parameters ----------#}
{% set theme = helpers.getOption(theme ?? null, ["light", "dark"]) %}
{% set items = items ?? [] %}

{#---------- Classes ----------#}
{% set baseClass = "el-HeaderNavigation" %}
{% set variants = variants ?? [] %}
{% set classes = helpers.generateClasses(baseClass, variants, [theme], []) %}

{#---------- Output ----------#}
{% if items|length %}
<nav class="{{ classes }}">
	<ul class="{{ baseClass }}__items">
		{% for item in items %}
			{% set itemText = item.text ?? null %}
			{% set itemUrl = item.url ?? null %}
			{% set itemTarget = item.target ?? null %}
			{% set itemSubitems = item.subitems ?? [] %}

			{% if itemText|length and itemUrl|length %}
				<li class="{{ baseClass }}__item">
					<a class="{{ baseClass }}__item__link" href="{{ itemUrl }}" target="{{ itemTarget }}">
						{{ itemText }}
					</a>
					{% if itemSubitems|length %}
						<ul class="{{ baseClass }}__item__subitems">
							{% for subitem in itemSubitems %}
								{% set subitemText = subitem.text ?? null %}
								{% set subitemUrl = subitem.url ?? null %}
								{% set subitemTarget = subitem.target ?? null %}

								{% if subitemText|length and subitemUrl|length %}
									<li class="{{ baseClass }}__item__subitem">
										<a class="{{ baseClass }}__item__subitem__link" href="{{ subitemUrl }}" target="{{ subitemTarget }}">
											{{ subitemText }}
										</a>
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</nav>
{% endif %}